* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.header {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/7747.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border-bottom: 1px solid rgba(0, 192, 245, 1);
}

nav #fa {
    display: none;
}

nav>a {
    width: 300px;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav a i[class*="uni"] {
    color: rgb(0, 200, 255);
    font-size: 1.5em;
    --fa-animation-duration: 2s;
    --fa-animation-timing: ease-in-out;
    --fa-animation-iteration-count: 0.5s;
}

nav .nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background: rgba(0, 192, 245, 1);
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.875em;
}


/* media querries */

@media screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 2.5em;
    }
    .nav-links ul li {
        display: block;
        text-align: left;
    }
    .nav-links {
        position: absolute;
        background: rgba(0, 192, 245, 1);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
    }
    nav #fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .nav-links ul li a:active {
        color: rgb(106, 255, 0);
    }
}


/* sdkfahkdsfjaklf */