@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    /* border: 10px solid gray; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border-bottom: 1px solid rgba(0, 192, 245, 1);
}

nav #fa {
    display: none;
}

nav>a {
    width: 300px;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav a i[class*="uni"] {
    color: rgb(0, 200, 255);
    font-size: 1.5em;
    --fa-animation-duration: 2s;
    --fa-animation-timing: ease-in-out;
    --fa-animation-iteration-count: 0.5s;
}

nav .nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background: rgba(0, 192, 245, 1);
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    height: 90%;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-box h1 {
    font-size: 3em;
}

.form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    text-align: center;
    margin-bottom: 5em;
    /* font-size: 1.2em; */
}

fieldset {
    border: none;
}

.form h1 {
    color: rgba(30, 75, 126, 1);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    flex-grow: 1;
}

.form-group {
    margin-top: 1em;
}

.form-group label {
    font-size: 1.2em;
    color: rgb(30, 75, 126);
    font-weight: bold;
}

.form-group input {
    width: 100%;
    height: 2em;
    border: 1px solid rgb(61, 152, 255);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.2em;
    color: rgb(30, 75, 126);
}

.form-group select {
    width: 100%;
    height: 2.2em;
    border: 1px solid rgb(61, 152, 255);
    border-radius: 5px;
    font-size: 1.1em;
    color: rgb(30, 75, 126);
}

.form-group textarea {
    width: 100%;
    height: 10em;
    border: 1px solid rgb(61, 152, 255);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.2em;
    color: rgb(30, 75, 126);
    resize: horizontal;
}

select:focus {
    outline: 1px solid rgb(61, 152, 255);
}

input:focus {
    outline: 1px solid rgb(61, 152, 255);
}

input:focus::placeholder {
    color: rgb(61, 152, 255);
}

textarea:focus::placeholder {
    color: rgb(61, 152, 255);
}

textarea:focus {
    outline: 1px solid rgb(61, 152, 255);
}

input[type="submit"] {
    width: 40%;
    height: auto;
    border: 1px solid rgb(61, 152, 255);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1.2em;
    color: rgb(61, 152, 255);
    background-color: rgba(61, 152, 255, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

input[type="submit"]:hover {
    background: rgb(61, 152, 255);
    transition: 0.5s;
    color: #fff;
}