@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
    box-sizing: border-box;
    list-style: none;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/banner.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border-bottom: 1px solid rgba(0, 192, 245, 1);
}

nav #fa {
    display: none;
}

nav>a {
    width: 200px;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav a i[class*="uni"] {
    color: rgb(0, 200, 255);
    font-size: 1.5em;
    /* --fa-animation-duration: 2s; */
    --fa-animation-timing: ease-in-out;
    /* --fa-animation-iteration-count: 0.5s; */
}

nav .nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background: rgba(0, 192, 245, 1);
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.875em;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 0.875em;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid rgba(74, 184, 214, 0.9);
    background-color: rgba(74, 184, 214, 0.9);
    transition: 0.5s ease-in-out;
}


/* course styling */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-col {
    flex-basis: 31%;
    background-color: rgba(12, 185, 216, 0.076);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 1.25em 0.750em;
    box-sizing: border-box;
}

.course-col .fas {
    font-size: 1.7em;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.2);
    background-color: rgba(74, 184, 214, 0.5);
    transition: 0.5s;
}


/* campus section styling */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.campus p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.campus-col {
    flex-basis: 32%;
    background: #e8fafd;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campus-col:hover {
    background-color: rgba(74, 184, 214, 0.5);
    transition: 0.5s;
    color: #fff;
}

.campus-col:hover p {
    color: #fff;
    font-weight: 400;
}


/* facilities styling */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.layer {
    /* background: rgba(179, 109, 109, 0.2); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #e8fafd;
}

.layer:hover {
    background: rgba(74, 184, 214, 0.7);
    transition: 0.5s;
    border-radius: 10px;
}

.layer h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
}

.layer:hover h3 {
    bottom: 49%;
    transition: 0.5s;
    opacity: 1;
}

.facilities p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.facilities-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    align-self: stretch;
    /* overflow: hidden; */
    border: 1px solid rgba(0, 192, 245, 1);
}

.facilities-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* testimonials */

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonials h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.testimonials p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.testimonial-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(12, 185, 216, 0.076);
    cursor: pointer;
}

.testimonial-col:hover {
    background-color: rgba(12, 185, 216, 0.2);
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.2);
    transition: 0.5s;
}

.testimonial-col img {
    width: 40%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.4);
}

.testimonial-col .fas {
    color: #777;
}


/* enroll section */

.enroll {
    width: 80vmax;
    margin: 100px auto;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/female-african-american-speaker-giving-presentation-hall-university-workshop.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
    border-radius: 10px;
    color: #e8fafd;
    border: 1px solid rgba(0, 192, 245, 1);
    box-sizing: border-box;
}

.enroll h1 {
    font-size: 2.25em;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 0;
}


/* footer styling */

footer {
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #d5e6e6;
    line-height: 1.5em;
    display: flex;
    margin: auto;
    justify-content: space-around;
    height: 390px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/);
    border-radius: 10px;
    overflow: visible;
}

footer p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.375em;
}

label {
    font-weight: 900;
    letter-spacing: 0.05em;
    font-size: 1.2em;
}

ul {
    list-style: none;
    padding: 15px;
}

li a {
    line-height: 2.5em;
    font-weight: 400;
    text-align: left;
    color: #fff;
}

li a:hover {
    color: #07eee2;
}

section[class="one"] {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

form {
    margin-bottom: 50px;
}

input[type="email"] {
    height: 40px;
    border: 1px solid rgba(0, 192, 245, 1);
    margin-right: 5px;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 10px;
}

input[type="email"]:focus {
    outline: 1px solid rgba(0, 192, 245, 1);
}

button {
    min-width: 150px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid rgb(0, 200, 255);
    color: rgb(0, 200, 255);
    font-weight: 900;
}

button:hover {
    color: #fff;
}

button:hover:after {
    width: 100%;
}

button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 192, 245, 1);
}

.fol {
    text-align: left;
    position: relative;
    top: 30px;
    left: 15px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: space-evenly;
    font-size: 2em;
    position: relative;
    width: 180px;
    /* border: 1px solid #0735ee; */
}

i[class="fab fa-facebook"]:hover {
    color: #4267B2;
}

i[class="fab fa-twitter"]:hover {
    color: #1DA1F2;
}

i[class="fab fa-instagram"]:hover {
    color: #E1306C;
}

.cp {
    font-size: 16px;
    font-weight: 300;
    align-items: center;
    position: absolute;
    bottom: -3280px;
}


/* media querries */

@media screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 2.5em;
    }
    .nav-links ul li {
        display: block;
        text-align: center;
    }
    .nav-links {
        position: absolute;
        background: rgba(0, 192, 245, 1);
        height: 100vh;
        width: 100vw;
        top: -140vh;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    nav #fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .nav-links ul li a {
        font-size: 1.2em;
    }
    .nav-links ul li a:active {
        color: rgb(106, 255, 0);
        font-size: 1.2em;
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-col {
        font-size: 1em;
        padding: 0;
        /* margin-top: 40px; */
    }
    .testimonial-col img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
        margin-top: 5px;
    }
    .testimonial-col .fas {
        margin-bottom: 5px;
    }
    .enroll {
        width: 80%;
        padding: 50px;
    }
    footer {
        margin: auto;
        flex-direction: column;
        height: auto;
        padding: 50px;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
    }
    footer p {
        font-size: 1em;
        font-weight: 300;
        line-height: 1.375em;
        text-align: center;
    }
    .two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .one {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1400px) {
    .nav-links ul li a {
        font-size: 1.2em;
    }
    nav>a {
        width: 400px;
        color: #fff;
        font-size: 1.7em;
    }
    nav a i[class*="uni"] {
        font-size: 1.5em;
    }
    .text-box h1 {
        font-size: 5em;
    }
    .text-box p {
        font-size: 1.1em;
    }
    .hero-btn {
        display: inline-block;
        color: #fff;
        font-size: 1.3em;
        border: 1px solid #fff;
        padding: 12px 34px;
        position: relative;
        cursor: pointer;
    }
    .course h1 {
        font-size: 2.3em;
    }
    .course {
        font-size: 1.2em;
    }
    .campus h1 {
        font-size: 2.3em;
    }
    .campus {
        font-size: 1.2em;
    }
    .facilities h1 {
        font-size: 2.3em;
    }
    .facilities {
        font-size: 1.2em;
    }
    .testimonials h1 {
        font-size: 2.3em;
    }
    .testimonials {
        font-size: 1.2em;
    }
    .testimonial-col img {
        width: 30%;
        height: 40%;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
        box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.4);
    }
    .enroll {
        height: 600px;
        display: grid;
        place-items: center;
    }
    .enroll h1 {
        font-size: 3.5em;
    }
}