@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/banner.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    border: 1px solid red;
}

nav #fa {
    display: none;
}

nav>a {
    width: 200px;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

nav a i[class*="uni"] {
    color: #f44336;
    font-size: 1.5em;
}

nav .nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.nav-links ul li a {
    color: #fff;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    height: 2px;
    background: #f44336;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.875em;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 0.875em;
}

.hero-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s ease-in-out;
}


/* course styling */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.course p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-col {
    flex-basis: 31%;
    background-color: rgba(12, 185, 216, 0.076);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 1.25em 0.750em;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.2);
    background-color: rgba(74, 184, 214, 0.5);
    transition: 0.5s;
}


/* campus section styling */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.campus p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.campus-col {
    flex-basis: 32%;
    background: #e8fafd;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campus-col:hover {
    background-color: rgba(74, 184, 214, 0.5);
    transition: 0.5s;
    color: #fff;
}

.campus-col:hover p {
    color: #fff;
    font-weight: 400;
}


/* facilities styling */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.layer {
    /* background: rgba(179, 109, 109, 0.2); */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #e8fafd;
}

.layer:hover {
    background: rgba(74, 184, 214, 0.7);
    transition: 0.5s;
    border-radius: 10px;
}

.layer h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.25em;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
}

.layer:hover h3 {
    bottom: 49%;
    transition: 0.5s;
    opacity: 1;
}

.facilities p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.facilities-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    align-self: stretch;
    /* overflow: hidden; */
    border: 1px solid rgba(0, 192, 245, 1);
}

.facilities-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* testimonials */

.testimonials {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    /* border: 10px solid #9bf436; */
}

.testimonial h1 {
    font-size: 2.25em;
    font-weight: 600;
}

.testimonial p {
    color: #777;
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.375em;
}

.testimonial-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 1.875em;
    position: relative;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(12, 185, 216, 0.076);
    cursor: pointer;
}

.testimonial-col:hover {
    background-color: rgba(12, 185, 216, 0.2);
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.2);
    transition: 0.5s;
}

.testimonial-col img {
    width: 40%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
    box-shadow: 0px 0px 20px rgba(12, 185, 216, 0.4);
}


/* media querries */

@media screen and (max-width: 700px) {
    .text-box h1 {
        font-size: 2.5em;
    }
    .nav-links ul li {
        display: block;
        text-align: left;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;
    }
    nav #fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 1.5em;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .nav-links ul li a:active {
        color: rgb(106, 255, 0);
    }
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testimonial-col img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
    }
}

@media screen and (min-width: 1400px) {
    .nav-links ul li a {
        font-size: 1.2em;
    }
    nav>a {
        width: 400px;
        color: #fff;
        font-size: 1.7em;
    }
    nav a i[class*="uni"] {
        color: #f44336;
        font-size: 1.5em;
    }
    .text-box h1 {
        font-size: 5em;
    }
    .text-box p {
        font-size: 1.1em;
    }
    .hero-btn {
        display: inline-block;
        color: #fff;
        font-size: 1.3em;
        border: 1px solid #fff;
        padding: 12px 34px;
        position: relative;
        cursor: pointer;
    }
    .course h1 {
        font-size: 2.3em;
    }
    .course {
        font-size: 1.2em;
    }
    .campus h1 {
        font-size: 2.3em;
    }
    .campus {
        font-size: 1.2em;
    }
    .facilities h1 {
        font-size: 2.3em;
    }
    .facilities {
        font-size: 1.2em;
    }
}